@font-face {
    font-family: 'MisoLight';
    src: url('miso-light-webfont.eot');
    src: url('miso-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('miso-light-webfont.woff') format('woff'),
         url('miso-light-webfont.ttf') format('truetype'),
         url('miso-light-webfont.svg#MisoLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MisoRegular';
    src: url('miso-webfont.eot');
    src: url('miso-webfont.eot?#iefix') format('embedded-opentype'),
         url('miso-webfont.woff') format('woff'),
         url('miso-webfont.ttf') format('truetype'),
         url('miso-webfont.svg#MisoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MisoBold';
    src: url('miso-bold-webfont.eot');
    src: url('miso-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('miso-bold-webfont.woff') format('woff'),
         url('miso-bold-webfont.ttf') format('truetype'),
         url('miso-bold-webfont.svg#MisoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NewsCycleRegular';
    src: url('NewsCycle-Regular-webfont.eot');
    src: url('NewsCycle-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('NewsCycle-Regular-webfont.woff') format('woff'),
         url('NewsCycle-Regular-webfont.ttf') format('truetype'),
         url('NewsCycle-Regular-webfont.svg#NewsCycleRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'SilkscreenNormal';
    src: url('slkscr-webfont.eot');
    src: url('slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('slkscr-webfont.woff') format('woff'),
         url('slkscr-webfont.ttf') format('truetype'),
         url('slkscr-webfont.svg#SilkscreenNormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SilkscreenBold';
    src: url('slkscrb-webfont.eot');
    src: url('slkscrb-webfont.eot?#iefix') format('embedded-opentype'),
         url('slkscrb-webfont.woff') format('woff'),
         url('slkscrb-webfont.ttf') format('truetype'),
         url('slkscrb-webfont.svg#SilkscreenBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SilkscreenExpandedNormal';
    src: url('slkscre-webfont.eot');
    src: url('slkscre-webfont.eot?#iefix') format('embedded-opentype'),
         url('slkscre-webfont.woff') format('woff'),
         url('slkscre-webfont.ttf') format('truetype'),
         url('slkscre-webfont.svg#SilkscreenExpandedNormal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SilkscreenExpandedBold';
    src: url('slkscreb-webfont.eot');
    src: url('slkscreb-webfont.eot?#iefix') format('embedded-opentype'),
         url('slkscreb-webfont.woff') format('woff'),
         url('slkscreb-webfont.ttf') format('truetype'),
         url('slkscreb-webfont.svg#SilkscreenExpandedBold') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
        font-family: 'BPdotsLight';
        src: url('BPdotsLight-webfont.eot');
        src: local('☺'), url('BPdotsLight-webfont.woff') format('woff'), url('BPdotsLight-webfont.ttf') format('truetype'), url('BPdotsLight-webfont.svg#webfont') fo\
rmat('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'BPdotsRegular';
        src: url('BPdots-webfont.eot');
        src: local('☺'), url('BPdots-webfont.woff') format('woff'), url('BPdots-webfont.ttf') format('truetype'), url('BPdots-webfont.svg#webfont') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'BPdotsBold';
        src: url('BPdotsBold-webfont.eot');
        src: local('☺'), url('BPdotsBold-webfont.woff') format('woff'), url('BPdotsBold-webfont.ttf') format('truetype'), url('BPdotsBold-webfont.svg#webfont') forma\
t('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'BPdotsSquaresLight';
        src: url('BPdotsSquareLight-webfont.eot');
        src: local('☺'), url('BPdotsSquareLight-webfont.woff') format('woff'), url('BPdotsSquareLight-webfont.ttf') format('truetype'), url('BPdotsSquareLight-webfon\
t.svg#webfont') format('svg');
        font-weight: normal;
        font-style: normal;
}
@font-face {
        font-family: 'BPdotsSquaresRegular';
        src: url('BPdotsSquare-webfont.eot');
        src: local('☺'), url('BPdotsSquare-webfont.woff') format('woff'), url('BPdotsSquare-webfont.ttf') format('truetype'), url('BPdotsSquare-webfont.svg#webfont')\
 format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'BPdotsSquaresBold';
        src: url('BPdotsSquareBold-webfont.eot');
        src: local('☺'), url('BPdotsSquareBold-webfont.woff') format('woff'), url('BPdotsSquareBold-webfont.ttf') format('truetype'), url('BPdotsSquareBold-webfont.s\
vg#webfont') format('svg');
        font-weight: normal;
        font-style: normal;
}

@font-face {
        font-family: 'BPdotsDiamondLight';
        src: url('BPdotsDiamondLight-webfont.eot');
        src: local('☺'), url('BPdotsDiamondLight-webfont.woff') format('woff'), url('BPdotsDiamondLight-webfont.ttf') format('truetype'), url('BPdotsDiamondLight-web\
font.svg#webfont') format('svg');
        font-weight: normal;
        font-style: normal;
}
