<%= link_to image_tag(u.avatar.url(:small)), {:action => 'show', :id => u, :controller => 'users'}, :class => 'imagelink' %>
<p><strong><%= link_to u.login, :action => 'show', :id => u, :controller => 'users' %></strong></p>
<p class="clearing"></p>
