<h2>Oops!</h2>
<p>There was an error &mdash; we've been notified and we'll fix it as soon as possible.</p>
<p>Meanwhile, you can search <a href="/posts/search">posts</a> or <a href="/users/search">users</a> to find more content.</p>
