<div class="section">
<h2>What is Stemming?</h2>
<p>Stemming is a place for women and girls who are interested or involved in the STEM fields (science, technology, engineering, and math) to connect with each other to share information and opportunities.</p>
</div>

<div class="section">
<h2>Who can join Stemming?</h2>
<p>Stemming is for all women and girls interested in any level of science, technology, engineering and math.</p>
<p>If you're not a woman, or not interested in the STEM fields,
you're still welcome; however, trolling or abuse will not be tolerated, and we ask that you respect the site's primary purpose of encouraging female interest and participation in these fields. Anyone posting trollish, inappropriate, offensive, or wildly off-topic content or who does not appear to make a good-faith effort to respect the purpose of the site may have their posts and/or account deleted at the sole discretion of an administrator.</p>

</div>

<div class="section">
<h2>Who can post on Stemming?</h2>
<p><strong>Everyone!</strong> You can post about anything you want on your personal Stemming post; these post posts will be displayed on your profile, and anyone on the site will be able to read or comment on them.</p>
<p>Good post topics include the story of <a href="http://stemming.org/posts/how-did-you-get-started">how you got started in your field</a>;  a <a href="http://stemming.org/posts/creating-a-new-mysql-database">tutorial</a> or <a href="http://stemming.org/posts/resources-for-beginning-programmers">collection of resources</a>; a <a href="http://stemming.org/posts/to-be-a-feminine-computer-scientist-and-not-feel-guilty-about-it">rant</a> or <a href="http://stemming.org/posts/motivating-programming-for-a-12-year-old">a question</a>; <a href="http://stemming.org/posts/hello-world">your technical experiences</a>; <a href="http://stemming.org/posts/dealing-with-drek-in-the-workplace">an offer of advice and support</a>; or even just a <a href="http://stemming.org/posts/computer-engineering-barbie">link to something cool</a>!
<p>A Stemming administrator will choose selected posts from Stemming users to feature on the front page of the site (generally, posts the administrator thinks are of the most general interest to the site's users).
</p>
<p>The informal post system can be adapted to <strong>job postings</strong> and <strong>event listings</strong> as well as blog-style posts; a more formal <strong>job posting system</strong> and <strong>event calendar</strong> are coming to Stemming in early 2012.
<p>
