<div class="section">
<h2>Contact</h2>

<p>Stemming.org is still in the early stages, and we'd very much like to know how you like it or what you'd like us to change!</p>

<p>With any questions, concerns, suggestions, or improvements, please email <a href="mailto:clara@stemming.org">clara@stemming.org</a>.</p> 
</div>
