<div class="section">
<h2>General Geek Woman Stuff</h2>
<ul>
<li><a href="http://geekfeminism.org">Geek Feminism blog</a></li>
<li><a href="http://geekfeminism.wikia.com/wiki/Geek_Feminism_Wiki">Geek Feminism wiki</a></li>
<li><a href="http://dotfiveone.com">dot five one</a></li>
<li><a href="http://shesgeeky.org">She's Geeky</a></li>
<li><a href="http://skepchick.org">Skepchick</a></li>
</ul>
</div>

<div class="section">
<h2>Women in Physical Science</h2>
<li><a href="http://www.underthemicroscope.com/blog/">Under The Microscope</a></li>
</div>

<div class="section">
<h2>Women in Computer Science</h2>
<ul>
<li><a href="http://anitaborg.org">Anita Borg Institute</a></li>
<li><a href="http://devchix.com">DevChix</a></li>
<li><a href="http://compsciwoman.com">CompSci Woman</a></li>
<li><a href="http://compscigail.blogspot.com/">The Female Perspective on Computer Science</a></li>
<li><a href="http://womenwhotech.com">Women Who Tech</a></li>
</ul>
</div>

<div class="section">
<h2>Women in GNU/Linux/FOSS</h2>
<ul>
<li><a href="http://linuxchix.org">LinuxChix</a></li>
<li><a href="http://ubuntu-women.org">Ubuntu Women</a></li>
<li><a href="http://women.debian.org">Debian Women</a></li>
</ul>
</div>

<div class="section">
<h2>Women in Engineering</h2>
<ul>
<li><a href="http://whatanengineerlookslike.blogspot.com">This is what an Engineer Looks Like</a></li>
</ul>
</div>

<div class="section">
<h2>Women in Math</h2>
</div>

<div class="section">
<h2>Girls/kids interested in STEM</h2>
<ul>
<li><a href="http://braincake.org">Braincake</a></li>
<li><a href="http://engineeryourlife.org">Engineer Your Life</a></li>
</ul>
</div>


<div class="section">
<p>We'd love to expand our collection of resources for women in science, technology, engineering, and math &mdash; <a href="/contact">get in touch</a> with your suggestions!</p>
</div>

